#chars { width: 20em; }
@media print {
    .config { display: none; }
}
@media only screen and (max-device-width: 800px) {
    .config span { font-size: 200%; }
    .config input { font-size: 200%; }
    .config button { font-size: 200%; }
}
